<%- include("partials/header"); -%>
  <div class="container">

    <form action="/create" method="post">
      
      <!-- Tree Name -->
      <div class="form-group row">
        <label for="treeName" class="col-sm-2 col-form-label">Tree Name</label>
        <div class="col-sm-10">
          <input type="text" name="treeName" class="form-control" id="treeName">
        </div>
      </div>

      <!-- User Name -->
      <div class="form-group row">
        <label for="treeName" class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-10">
          <input type="text" name="userName" class="form-control" id="userName">
        </div>
      </div>

      <!-- Pilot -->
      <div class="form-group row">
        <label for="initialText" class="col-sm-2 col-form-label">Pilot</label>
        <div class="col-sm-10">
          <input class="form-control" name="pilot" id="Pilot" placeholder="The root of your story goes here.">
        </div>
      </div>

      <!-- Submit -->
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Create Tree</button>
        </div>
      </div>
    </form>


  </div>
<%- include("partials/footer"); -%>
